.table {
	color: #8B864E;
	background-color: #EEEED1;
}

.tabs > .page {
    white-space: normal;
    display: none;
    border-top: none;
    margin: 0px;
    padding: 2px 20px;
}

.update {
	border: 0;
	width: 44px;
	height: 55px;
	background: url('images_edituser/update.png') top left no-repeat;
	cursor:pointer;
}

.delete {
	border: 0;
	width: 58px;
	height: 55px;
	background: url('images_edituser/delete.png') top left no-repeat;
	cursor:pointer;
}

.input_pass {
	font-size: 20px;
	height: 25px;
	width: 250px;
}

